* {
  margin: 0;
  padding: 0;
  color: #f0f0f0;
  font-family: "Fira code", monospace;
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
}

.content {
  background-color: #0f0f0f;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hello-world-container {
  cursor: pointer;
  padding: 0;
  border: 0 solid #0f0f0f;
  position: absolute;
  z-index: 10;
  transition: border 0.3s ease-in-out, padding 0.3s ease-in-out, color 0.5s ease-in-out, opacity 1s ease-in-out;
}
.hello-world-container:hover {
  border: 1px solid #00ff00;
  padding: 16px;
  background-color: #000a0088;
  color: #00ff00;
}

.info-container {
  opacity: 0;
  display: flex;
  transition: opacity 1s ease-in-out;
}
