.navbar {
    display: flex;
    justify-content: end;
    height: 12vh;

    .items {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 3vw;
    }
}

.link {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    margin: 0 15px 0 15px;
    transition: .3s;
    color: #FBFFFE;
    cursor: pointer;

    &:hover {
        color: #C8CCCB;
    }

    &.highlight {
        color: #484BCF;
    }
}
