@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
  color: #FBFFFE;
}

body {
  background-color: #1B1B1E;
}